@import models.Video
@import views.html.navbar
@import models.SearchResult

@(searchHistory: LinkedList[SearchResult])


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>YouTube Video</title>
  </head>
  <body>

    @navbar("search")

    <h1>YouTube Video</h1>
    <h2>Enter Search Terms</h2>

    <form action="/search/searchVideos" method="get">
      <input type="text" name="query" placeholder="Enter keywords" required>
      <button type="submit">Search</button>
    </form>

    @for(searchResult <- searchHistory) {
      <div>
        <h2>Search Terms: "@searchResult.query"</h2>
        <ul>
        @for(video <- searchResult.videos) {
          <li>
            <a href="https://www.youtube.com/watch?v=@video.videoId">
            @video.title
            </a>
            <br>
            <a href="/youtube/channel/@video.channelId">
                Channel: @video.channelTitle
              </a>
          </li>
        }
        </ul>
      </div>
      <hr>
      }

  </body>
</html>
