@import Models.Video
@(query: String, videos:java.util.List[Video])

<!DOCTYPE html>
<html>
  <head>
    <title>YouTube Video</title>
  </head>
  <body>
    <h1>YouTube Video</h1>
    <h2>Plz type keywords to find a list of videos max 10</h2>
    <form action="/search/searchVideos" method="get">
      <input type="text" name="query" placeholder="Enter keywords" required>
      <button type="submit">Search</button>
    </form>

      @if(query != null && !query.isEmpty()) {
        <h2>Search Results for "@query"</h2>
        <ul>
        @for(i <- 0 until videos.size()) {
          @defining(videos.get(i)) { video =>
            <li>
              <a href="https://www.youtube.com/watch?v=@video.videoId">
              @video.title
              </a>
              <br>
              <a href="/youtube/channel/@video.channelId">
                Channel: @video.channelTitle
              </a>
            </li>
          }
        }
        </ul>
      }

  </body>
</html>
