<!DOCTYPE html>
<html lang="en">
    <head>
        <title>YouTube Video</title>
    </head>
    <body>
        <h1>Welcome to YT Lytics</h1>
        <h2>Enter Search Terms</h2>
        <span id="status">WS: Disconnected</span>
        <form>
            <input id="query" type="text" placeholder="Enter keywords" required>
            <button type="submit">Search</button>
        </form>

        <div id="search-history"></div>

    </body>

    <script src="@routes.Assets.versioned("javascripts/main.js")"></script>
</html>
