@(currentPage: String)

<div class="navbar">
    <a href="/" class="@if(currentPage == "home") {active}">Home</a>
    <a href="/channelProfile" class="@if(currentPage == "Channel Profile") {active}">Channel Profile</a>
    <a href="/wordStats" class="@if(currentPage == "Words Stats") {active}">Word Stats</a>
    <a href="/tags" class="@if(currentPage == "Tags") {active}">Tags</a>
    <a href="/sentiment" class="@if(currentPage == "Submission Sentiment") {active}">Submission Sentiment</a>
</div>

<style>
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #333;
            padding: 1em;
        }

        .navbar a {
            color: white;
            padding: 0.5em 1em;
            text-decoration: none;
        }

        .navbar a.active {
            background-color: #555;
        }

        .navbar a:hover {
            background-color: #555;
        }
</style>